@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  color: rgb(243 244 246);
  background-color: rgb(17 24 39);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes completion-in {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.completion-message {
  animation: completion-in 0.5s ease-out forwards;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 3px;
  background: rgb(55 65 81);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(34 211 238);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(34 211 238);
  cursor: pointer;
  border: none;
}
